/* Responsive Breakpoints */
$breakpoint-tablet = 730px
$breakpoint-mobile = 729px
$breakpoint-mobile-small = 340px
$breakpoint-big = 1600px

// font
$font-default = 'Roboto', sans-serif

$font-regular = 400
$font-medium = 500
$font-bold = 700

// color
$color-white = #fff
$color-black = #000000
$color-accent = #F8FF13
$color-dark-grey = #222222
$color-light-grey = #ddd

$color-vk = #4680C2
$color-fb = #3B579D
$color-tw = #50ABF1
$color-tg = #30A7DE

$color-primary = #00aa32
$color-secondary = #006496

$border-radius = 8px

